:host{
	height:100%;
}
.title{
	margin:0 auto;
	padding-top:15px;
	width:20%; 
}
form{
	display: flex;
    flex-direction: column;
    height: 80%;
    margin-top:20px;
    width: 50%;
    margin: 0 auto;
    padding-top: 16px;
}
.message{
	height:100px;
}