:host{
   overflow: auto;
   height: auto;
}
.project-card {
  width: 400px;
  margin-right:26px;
  margin-top:20px;
  margin-bottom: 20px;
}

.status {
  float: right;
  color: black;
  border-radius: 10%;
  padding: 10px;
}

.completed {
  background-color: lightgreen;
}
.wip{
	background-color:#FFEB3B;
}
.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
}
@media (max-width:1330px){
  .project-card {
    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
  }
}