
.sidenav {
    padding: 15px;
    width: 130px;
    overflow: hidden;
}
.activeLink{
	color:blue;
}
:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.mat-sidenav-container {
    flex: 1;
     background: #f5f5f5;
}
a[md-button] {
  text-align:left;
}