<md-toolbar color="primary">
  <span><a class="appLink" [routerLink]="['about']">Veronica Mihai Web Developer</a></span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div class="links">
    <a href="https://github.com/VeronicaM" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>  </a>
    <a href="https://ro.linkedin.com/in/veronica-mihai90" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://www.freecodecamp.com/veronicam" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i> </a>
  </div>
</md-toolbar>
