.fill-remaining-space {
  flex: 1 1 auto;
}
.links{
	a {
		text-decoration:none;
		color:white;
		padding:10px;
	}
	a:hover{
	 	color: lightblue;
	 }

}
.appLink{
	text-decoration:none;
	color:white;
}